################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/awaitasync1/AsnycAwait原理1/bin/Debug/net6.0
/awaitasync1/AsnycAwait原理1/obj/Debug/net6.0
/awaitasync1/AsnycAwait原理1/obj
/awaitasync1/WinFormsApp1/obj
/awaitasync1/没有async的异步方法/obj
/awaitasync1/线程切换1/obj
/awaitasync1/.vs/awaitasync1/FileContentIndex
/awaitasync1/EFCore/bin/Debug/net6.0
/awaitasync1/EFCore/obj
/EfStudent/EFCORETEST2/bin/Debug/net6.0
/EfStudent/EFCORETEST2/obj
/EfStudent/AOPDemo/AOP/Zhaoxi.AOPDemo.Project/bin/Debug/net6.0
/EfStudent/AOPDemo/AOP/Zhaoxi.AOPDemo.Project/obj
/EfStudent/AOPDemo/obj
/EfStudent/AOPDemo/AOP/Zhaoxi.AOPDemo.Project/AOPShow.cs
/EfStudent/EFCoreOneToMany/bin/Debug/net6.0
/EfStudent/EFCoreOneToMany/obj
/WPF/WPFCustomControl/WPFCustomControl/Modules/WPFCustomControl.Modules.ModuleName/obj
/WPF/WPFCustomControl/WPFCustomControl/Services/WPFCustomControl.Services/obj
/WPF/WPFCustomControl/WPFCustomControl/Services/WPFCustomControl.Services.Interfaces/obj
/WPF/WPFCustomControl/WPFCustomControl/Tests/WPFCustomControl.Modules.ModuleName.Tests/obj
/WPF/WPFCustomControl/WPFCustomControl/WPFCustomControl/obj
/WPF/WPFCustomControl/WPFCustomControl/WPFCustomControl.Core/obj
/EfStudent/自引用结构树/bin/Debug/net6.0
/EfStudent/自引用结构树/obj
/Asp.Net/WebApplication1/WebApplication1/obj
/Asp.Net/WebApplication1/WebApplication2/bin/Debug/net6.0
/Asp.Net/WebApplication1/WebApplication2/obj
/Asp.Net/ConsoleApp1/ConsoleApp1/obj
/Asp.Net/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0
/WPF/prismDemo/prismDemo/bin/Debug/net6.0-windows
/WPF/prismDemo/prismDemo/obj
/WPF/prismDemo/prismDemo1/obj
/WPF/prismDemo/prismDemo2/obj
/WPF/prismDemo/prismDemo1/bin/Debug
/WPF/prismDemo/prismDemo2/bin/Debug
/EfStudent/表达式树EfCore3/bin/Debug/net6.0
/EfStudent/表达式树EfCore3/obj
/Asp.Net/WebApplication1/MVCTest/bin/Debug/net6.0
/Asp.Net/WebApplication1/MVCTest/obj
/Asp.Net/WebApplication1/WebAPI/bin/Debug/net6.0
/Asp.Net/WebApplication1/WebAPI/obj
/Asp.Net/WebApplication1/WebApplication1/bin/Debug/net6.0
/Asp.Net/WebApplication1/ClassLibrary1/bin/Debug/net6.0
/Asp.Net/WebApplication1/ClassLibrary1/obj
