################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/awaitasync1/AsnycAwait原理1/bin/Debug/net6.0
/awaitasync1/AsnycAwait原理1/obj/Debug/net6.0
/awaitasync1/AsnycAwait原理1/obj
/awaitasync1/WinFormsApp1/obj
/awaitasync1/没有async的异步方法/obj
/awaitasync1/线程切换1/obj
/awaitasync1/.vs/awaitasync1/FileContentIndex
/awaitasync1/EFCore/bin/Debug/net6.0
/awaitasync1/EFCore/obj
/EfStudent/EFCORETEST2/bin/Debug/net6.0
/EfStudent/EFCORETEST2/obj
/EfStudent/AOPDemo/AOP/Zhaoxi.AOPDemo.Project/bin/Debug/net6.0
/EfStudent/AOPDemo/AOP/Zhaoxi.AOPDemo.Project/obj
/EfStudent/AOPDemo/obj
/EfStudent/AOPDemo/AOP/Zhaoxi.AOPDemo.Project/AOPShow.cs
